.divContenedor {
  background-color: rgb(168, 229, 255);
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 100px;
  height: 500px;
  width: 700px;
}

.carta {
  background-color: rgb(220, 230, 114);
  border: 1px solid black;
  padding: 10px;
  margin: 10px;
  height: 130px;
  width: 130px;
}
