
*{
    box-sizing: border-box;
    margin: 8px;
    

  
} 


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap');



img:hover {

border-radius: 50%;


}

img {
   border-radius: 5%;
   margin: 16px;
    
}

a:hover {
    background-color:pink;
   
}

.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    gap: 20px;
    max-width: 920px;
    /position: fixed;
    
}

.navbar a{ 
    color: gray;
    text-decoration: none;
    padding: 1rem;
    
}



h1{
    font-size:32px;
    margin-left: 32px;
    margin-top: 32px;
    
    

}



.grid-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
 
    
}
.precio {
    font-size: 14px;
    font-family: ;
    margin-top: 20px;
    margin-left: 160px;
    }

.texto{
    text-align: left;
    font-family: ;
    font-size: 14px;
    margin-top: 20px;
    margin-left: 12px;
    }


    

.fotos:hover {
    color: pink;
    border-radius: 20%;
    
}

.navfooter{

    display: flex;
    justify-content: space-between;
    font-size: 16px;
    background-color: #212429;
    padding: 32px;
    gap: 32px;
    position: relative;
    top: 32px;
    max-width: 920px;
    min-width: 1200px;
   
}



.navfooter a {
    color: white;
    text-decoration: none;
    
}

.simbolo-footer{
    background-color: white;
    border-radius: 30%;
    
}