:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
}
.botones {
  padding-top: 30px;
}
body {
  margin: 0;
  background-color: #390340;
  display: flexbox;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: rgb(239, 224, 16);
}

p {
  font-size: 60px;
  color: #b8d9ea;
}

button {
  border-radius: 8px;
  border: 5px solid transparent;
  padding: 10px;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #043d76;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #e1a510;
}
